# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Environment files
.env
**/.env
.env.local
**/.env.local

# Node
node_modules/
dist/
build/

# Python
venv/
**/venv/
.venv/
**/.venv/

#Python cache
__pycache__/
**/__pycache__/
*.pyc

# IntelliJ
.idea/workspace.xml
.idea/tasks.xml
.idea/shelf/

# macOS
.DS_Store

# Logs
*.log
